{% extends "admin_side/base.html" %}
{% load static %}

{% block content %}
  <h1>Brand List</h1>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Brand Name</th>
        <th>Brand Image</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for brand in brands %}
        <tr>
          <td>{{ brand.id }}</td>
          <td>{{ brand.brand_name }}</td>
          <td>
            {% if brand.brand_image %}
              <img src="{{ brand.brand_image.url }}" alt="{{ brand.brand_name }}" width="50">
            {% else %}
              No image available
            {% endif %}
          </td>
          <td>{{ brand.status|yesno:"Active,Inactive" }}</td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'brand_management:add-brand' %}">Add New Brand</a>
{% endblock %}
<!-- <td>
            <a href="{% url 'brand_management:brand-detail' brand.id %}">View</a> |
            <a href="{% url 'brand_management:brand-update' brand.id %}">Edit</a> |
            <a href="{% url 'brand_management:brand-delete' brand.id %}">Delete</a>
          </td> -->