
{% extends 'admin_side/base.html' %}
{% load static %}
{% block content %}
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Thumbnail</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Offer Price</th>
                <th>Images</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>
                        {% if product.thumbnail %}
                            <img src="{{ product.thumbnail.url }}" alt="{{ product.product_name }}" style="width: 100px;">
                        {% else %}
                            No Thumbnail
                        {% endif %}
                    </td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_description }}</td>
                    <td>{{ product.product_category.category_name }}</td>
                    <td>{{ product.product_brand.brand_name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.offer_price }}</td>
                    <td>
                        {% for image in product.product_images_set.all %}
                            <img src="{{ image.images.url }}" alt="{{ product.product_name }}" style="width: 50px;">
                        {% endfor %}
                    </td>
                    <td>{{ product.is_active }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    {% endblock content %}
