{% load static %}
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="#" class="brand-wrap">
            <img src="{% static 'admin_side/assets/imgs/theme/logo.svg' %}" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item {% if request.resolver_match.url_name == 'admin-index' %}active{% endif %}">
                <a class="menu-link" href="{% url 'admin_panel:admin-index' %}">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item {% if request.resolver_match.url_name == 'sales-report' %}active{% endif %}">
                <a class="menu-link" href="{% url 'admin_panel:sales-report' %}">
                    <i class="text-muted material-icons md-post_add"></i>
                    <span class="text">Sales Report</span>
                </a>
            </li>
            <li class="menu-item {% if request.resolver_match.url_name == 'users-list' %}active{% endif %}">
                <a class="menu-link" href="{% url 'admin_panel:users-list' %}">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Users List</span>
                </a>
            </li>
            <li class="menu-item {% if 'category-list' in request.path %}active{% endif %}">
                <a class="menu-link" href="{% url 'category_management:category-list' %}">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item {% if 'brand-list' in request.path %}active{% endif %}">
                <a class="menu-link" href="{% url 'brand_management:brand-list' %}">
                    <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span>
                </a>
            </li>
            <li class="menu-item {% if 'product-list' in request.path %}active{% endif %}">
                <a class="menu-link" href="{% url 'product_management:product-list' %}">
                    <i class="icon material-icons md-add_box"></i>
                    <span class="text">Products List</span>
                </a>
            </li>
            <li class="menu-item {% if 'admin-order-list' in request.path %}active{% endif %}">
                <a class="menu-link" href="{% url 'order_management:admin-order-list' %}">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item {% if ':return-order-list' in request.path %}active{% endif %}">
                <a class="menu-link" href="{% url 'order_management:return-order-list' %}">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Return Orders</span>
                </a>
            </li>
            <li class="menu-item {% if 'coupon-list' in request.path %}active{% endif %}">
                <a class="menu-link" href="{% url 'coupon_management:coupon-list' %}">
                    <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Cupon</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>