<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>

<body>
    <h1>Category List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>-
            </tr>
        </thead>
        <tbody>
            {% for user in user_details %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
