{% extends "user_side/base.html" %}
{% load static %}
{% block content %}
<h2>My Addresses</h2>
<a href="{% url 'user_panel:add_address' %}">Add New Address</a>
<ul>
    {% for address in addresses %}
    <li>
        {{ address.name }} - {{ address.house_name }}, {{ address.street_name }}, {{ address.district }}, {{ address.state }}, {{ address.country }} - {{ address.pin_number }} - {{ address.phone_number }}
        <a href="{% url 'user_panel:edit_address' address.id %}">Edit</a>
        <a href="{% url 'user_panel:delete_address' address.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
