{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Side</title>
    {% include 'user_side/head.html' %}
</head>
<body>
    {% include 'user_side/header.html'%}
    {% block content %}





    {% endblock content %}

    {% include 'user_side/footer.html' %}
    {% include 'user_side/scripts.html' %}
    <!-- Include your custom JavaScript -->
    <script src="{% static 'user_side/js/update_counts.js' %}"></script>
    {% block extra_js %}
    
    {% endblock %}
</body>
</html>