 {% load static %}
 <header class="header-area header-style-3 header-height-2">
     <div class="header-top header-top-ptb-1 d-none d-lg-block">
         <div class="container">
             <div>
                 <div class="header-info header-info-right">
                     <ul>
                         {% if user.is_authenticated %}
                         <li>
                             <i class="fi-rs-user"></i>
                             <a href="{% url 'user_panel:user-profile' %}">{{ user.username }}</a>
                         </li>
                         <li>
                             <i class="fi-rs-sign-out"></i>
                             <a href="{% url 'accounts:user_logout' %}">Logout</a>
                         </li>
                         {% else %}
                         <li>
                             <i class="fi-rs-user"></i>
                             <a href="{% url 'accounts:user_login' %}">Log In / Sign Up</a>
                         </li>
                         {% endif %}
                     </ul>
                 </div>
             </div>
         </div>
     </div>
     <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
         <div class="container">
             <div class="header-wrap">
                 <div class="logo logo-width-2">
                     <a href="{% url 'accounts:home'%}"><img src="{% static 'user_side/assets/imgs/theme/logo.avif' %}"
                             alt="logo"></a>
                 </div>
                 <div class="header-right ms-5">
                     <div class="search-style-2">
                         <form action="{% url 'user_panel:shop-list' %}" method="get">
                             <select name="category" class="select-active">
                                 <option value="">All Categories</option>
                                 {% for category in categories %}
                                 <option value="{{ category.id }}"
                                     {% if category.id|stringformat:"s" == category_id|stringformat:"s" %}selected{% endif %}>
                                     {{ category.category_name }}</option>
                                 {% endfor %}
                             </select>
                             <input type="text" name="query" value="{{ query }}" placeholder="Search for items...">
                             <button type="submit">Search</button>
                         </form>
                     </div>
                     <div class="header-action-right">
                         <div class="header-action-2">
                             <div class="header-action-icon-2">
                                 <a href="{% url 'wishlist:view-wishlist' %}">
                                     <img class="svgInject" alt="Evara"
                                         src="{% static 'user_side/assets/imgs/theme/icons/icon-heart.svg' %}">
                                     <!-- Add ID to the wishlist count span -->
                                     <span id="wishlist-count" class="pro-count blue">{{ wishlist_item_count }}</span>
                                 </a>
                             </div>
                             <div class="header-action-icon-2">
                                 <a class="mini-cart-icon" href="{% url 'cart_management:cart' %}">
                                     <img alt="Evara"
                                         src="{% static 'user_side/assets/imgs/theme/icons/icon-cart.svg' %}">
                                     <!-- Add ID to the cart count span -->
                                     <span id="cart-count" class="pro-count blue">{{ cart_item_count }}</span>
                                 </a>

                                 <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                     <ul>
                                         {% for item in cart_items %}
                                         <li>
                                             <div class="shopping-cart-img">
                                                 <a href="{% url 'cart_management:cart' %}">
                                                     <img src="{{ item.variant.images.first.image.url }}"
                                                         alt="{{ item.variant.product.product_name }}"
                                                         class="img-thumbnail"
                                                         style="width: 50px; height: 50px; object-fit: cover;">
                                                 </a>
                                             </div>
                                             <div class="shopping-cart-title">
                                                 <h4>
                                                     <a
                                                         href="{% url 'cart_management:cart' %}">{{ item.variant.product.product_name }}</a>
                                                 </h4>
                                                 <h4>
                                                     <span>{{ item.quantity }} × </span>₹
                                                     {{ item.variant.product.offer_price }}
                                                 </h4>
                                             </div>
                                             <div class="shopping-cart-delete">
                                                 <a href="#"></a>
                                             </div>
                                         </li>
                                         {% endfor %}
                                     </ul>
                                     <div class="shopping-cart-footer">
                                         <div class="shopping-cart-total">
                                             <!-- Add ID to the total price span -->
                                             <h4>Total <span id="total-price">₹{{ total_price }}</span></h4>
                                         </div>
                                         <div class="shopping-cart-button">
                                             <a href="{% url 'cart_management:cart' %}" class="outline">View cart</a>
                                             <a href="{% url 'cart_management:checkout' %}">Checkout</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="header-bottom header-bottom-bg-color sticky-bar">
         <div class="container">
             <div class="header-wrap header-space-between position-relative  main-nav">
                 <div class="logo logo-width-1 d-block d-lg-none">
                     <a href="index.html"><img src="{% static 'user_side/assets/imgs/theme/logo.svg' %}" alt="logo"></a>
                 </div>
                 <div class="header-nav d-none d-lg-flex">
                     <div class="main-categori-wrap d-none d-lg-block">
                         <a class="categori-button-active" href="#">
                             <span class="fi-rs-apps"></span> Browse Categories
                         </a>
                         <div class="categori-dropdown-wrap categori-dropdown-active-large">
                             <ul>
                                 {% for category in categories %}
                                 <li>
                                     <a href="{% url 'user_panel:product-list-by-category' category.id %}"><i
                                             class="evara-font-dress"></i>{{ category.category_name }}</a>
                                 </li>
                                 {% endfor %}
                             </ul>
                             <div class="more_categories">Show more...</div>
                         </div>
                     </div>
                     <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                         <nav>
                             <ul>
                                 <li><a class="active" href="{% url 'accounts:home'%}">Home </a>
                                 <li>
                                     <a href="{% url 'user_panel:about'%}">About</a>
                                 </li>
                                 <li><a href="{% url 'user_panel:shop-list' %}">Shop </a>
                                 </li>
                             </ul>
                         </nav>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </header>