{% extends 'user_side/base.html'%}
{% load static %}
{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{ product_count }}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mb-4">
                                <div class="sort-by-product-wrap d-flex justify-content-between align-items-center">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>{{ sort_by|title }} <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item {% if sort_by == 'price_low_to_high' %}active{% endif %}"
                                                href="?sort_by=price_low_to_high">Price: Low to High</a></li>
                                        <li><a class="dropdown-item {% if sort_by == 'price_high_to_low' %}active{% endif %}"
                                                href="?sort_by=price_high_to_low">Price: High to Low</a></li>
                                        <li><a class="dropdown-item" href="?sort_by=a_to_z">A - Z</a></li>
                                        <li><a class="dropdown-item" href="?sort_by=z_to_a">Z - A</a></li>
                                        {% comment %} <li><a
                                                class="dropdown-item {% if sort_by == 'avg_rating' %}active{% endif %}"
                                                href="?sort_by=avg_rating">Avg. Rating</a></li> {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid-3">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'user_panel:product-details' product.id %}">
                                            {% with product.product_variant_set.first as variant %}
                                            {% if variant and variant.images.first %}
                                            <img class="default-img" src="{{ variant.images.first.image.url }}"
                                                alt="{{ product.product_name }}">
                                            {% elif product.thumbnail %}
                                            <img class="default-img" src="{{ product.thumbnail.url }}"
                                                alt="{{ product.product_name }}">

                                            {% endif %}
                                            {% endwith %}
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="View Details" class="action-btn hover-up"
                                            href="{% url 'user_panel:product-details' product.id %}">
                                            <i class="fi-rs-search"></i>
                                        </a>
                                        <form action="{% url 'wishlist:add-to-wishlist' product.id %}" method="post"
                                            style="display:inline;">
                                            {% csrf_token %}
                                            {% with first_variant=product.product_variant_set.first %}
                                            {% if first_variant %}
                                            <input type="hidden" name="variant_id" value="{{ first_variant.id }}">
                                            <button type="submit" class="action-btn hover-up rounded-circle p-1"
                                                aria-label="Add To Wishlist">
                                                <i class="fi-rs-heart"></i>
                                            </button>
                                            {% endif %}
                                            {% endwith %}
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="shop-grid-right.html">{{ product.product_category }}</a>
                                    </div>
                                    <h2><a href="shop-product-right.html">{{ product.product_name }}</a></h2>
                                    <div class="rating-result" title="90%">
                                        {% if product.percentage_discount > 0 %}
                                        <span>
                                            <span>{{ product.percentage_discount }}%</span>
                                        </span>
                                        {% endif %}
                                    </div>

                                    <div class="product-price">
                                        <span>₹{{ product.offer_price }} </span>
                                        {% if product.percentage_discount > 0 %}
                                        <span class="old-price">₹{{ product.price }}</span>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No results found.</p>
                        {% endfor %}
                    </div>

                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {% if products.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{ products.previous_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for num in products.paginator.page_range %}
                                {% if products.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ num }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}">{{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{ products.next_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <li><a href="{% url 'user_panel:shop-list' %}">All</a></li>
                            {% for category in categories %}
                            <li><a
                                    href="{% url 'user_panel:product-list-by-category' category.id %}">{{ category.category_name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Filter By Price -->
                    <div class="sidebar-widget price_range range mb-30">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">Fill by price</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        <div class="price-filter mb-5">
                            <div class="price-filter-wrap text-center mt-15">
                                <div class="price-input d-flex align-items-center">
                                    <input type="number" id="min_price" name="min_price" placeholder="Min price"
                                        class="form-control w-75" value="{{ min_price|default:'' }}" min="0">
                                    <span class="mx-2">-</span>
                                    <input type="number" id="max_price" name="max_price" placeholder="Max price"
                                        class="form-control w-75" value="{{ max_price|default:'' }}" min="0">
                                </div><br><br>
                                <button class="btn btn-outline-secondary" id="price-filter-btn">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $("#price-filter-btn").click(function() {
            var minPrice = $("#min_price").val();
            var maxPrice = $("#max_price").val();
            var currentUrl = new URL(window.location.href);
            if (minPrice) {
                currentUrl.searchParams.set('min_price', minPrice);
            } else {
                currentUrl.searchParams.delete('min_price');
            }
            if (maxPrice) {
                currentUrl.searchParams.set('max_price', maxPrice);
            } else {
                currentUrl.searchParams.delete('max_price');
            }
            window.location.href = currentUrl.toString();
        });
    });
</script>

{% endblock content %}