{% extends 'user_side/base.html'%}
{% load static %}
{% block content %}
<!-- Quick view -->
<div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-gallery">
                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                            <!-- MAIN SLIDES -->
                            <div class="product-image-slider">
                                <figure class="border-radius-10">
                                    <img src="{% static 'user_side/assets/imgs/shop/product-16-2.jpg' %}"
                                        alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{% static 'user_side/assets/imgs/shop/product-16-1.jpg' %}"
                                        alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{% static 'user_side/assets/imgs/shop/product-16-3.jpg' %}"
                                        alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{% static 'user_side/assets/imgs/shop/product-16-4.jpg' %}"
                                        alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{% static 'user_side/assets/imgs/shop/product-16-5.jpg' %}"
                                        alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{% static 'user_side/assets/imgs/shop/product-16-6.jpg' %}"
                                        alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="{% static 'user_side/assets/imgs/shop/product-16-7.jpg' %}"
                                        alt="product image">
                                </figure>
                            </div>
                            <!-- THUMBNAILS -->
                            <div class="slider-nav-thumbnails pl-15 pr-15">
                                <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-3.jpg' %}"
                                        alt="product image"></div>
                                <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-4.jpg' %}"
                                        alt="product image"></div>
                                <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-5.jpg' %}"
                                        alt="product image"></div>
                                <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-6.jpg' %}"
                                        alt="product image"></div>
                                <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-7.jpg' %}"
                                        alt="product image"></div>
                                <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-8.jpg' %}"
                                        alt="product image"></div>
                                <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-9.jpg' %}"
                                        alt="product image"></div>
                            </div>
                        </div>
                        <!-- End Gallery -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index.html"><img src="{% static 'user_side/assets/imgs/theme/logo.svg' %}" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                    <a class="categori-button-active-2" href="#">
                        <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-small">
                        <ul>
                            <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                            <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                        </ul>
                    </div>
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="index.html">Home</a>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="shop-grid-right.html">shop</a>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Dresses</a></li>
                                        <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                        <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="shop-product-right.html">Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Jackets</a></li>
                                        <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                        <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                        <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                        <li><a href="shop-product-right.html">Tablets</a></li>
                                        <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                        <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="blog-category-fullwidth.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                <li><a href="blog-category-list.html">Blog Category List</a></li>
                                <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single
                                        Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                        <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                        <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li><a href="page-account.html">My Account</a></li>
                                <li><a href="page-login-register.html">login/register</a></li>
                                <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="page-terms.html">Terms of Service</a></li>
                                <li><a href="page-404.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href="page-contact.html"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login-register.html">Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-facebook.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-twitter.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-instagram.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-pinterest.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-youtube.svg' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{ product_count }}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover mb-4">
                                <div class="sort-by-product-wrap d-flex justify-content-between align-items-center">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>{{ sort_by|title }} <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item {% if sort_by == 'price_low_to_high' %}active{% endif %}"
                                                href="?sort_by=price_low_to_high">Price: Low to High</a></li>
                                        <li><a class="dropdown-item {% if sort_by == 'price_high_to_low' %}active{% endif %}"
                                                href="?sort_by=price_high_to_low">Price: High to Low</a></li>
                                        <li><a class="dropdown-item" href="?sort_by=a_to_z">A - Z</a></li>
                                        <li><a class="dropdown-item" href="?sort_by=z_to_a">Z - A</a></li>
                                        {% comment %} <li><a
                                                class="dropdown-item {% if sort_by == 'avg_rating' %}active{% endif %}"
                                                href="?sort_by=avg_rating">Avg. Rating</a></li> {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid-3">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'user_panel:product-details' product.id %}">
                                            {% with product.product_variant_set.first as variant %}
                                            {% if variant and variant.images.first %}
                                            <img class="default-img" src="{{ variant.images.first.image.url }}"
                                                alt="{{ product.product_name }}">
                                            {% elif product.thumbnail %}
                                            <img class="default-img" src="{{ product.thumbnail.url }}"
                                                alt="{{ product.product_name }}">

                                            {% endif %}
                                            {% endwith %}
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal"
                                            data-bs-target="#quickViewModal">
                                            <i class="fi-rs-search"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                            href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="shop-grid-right.html">{{ product.product_category }}</a>
                                    </div>
                                    <h2><a href="shop-product-right.html">{{ product.product_name }}</a></h2>
                                    <div class="rating-result" title="90%">
                                        <span>
                                            <span>{{ product.percentage_discount }}%</span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span>₹{{ product.offer_price }} </span>
                                        <span class="old-price">₹{{ product.price }}</span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                                class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No results found.</p>
                        {% endfor %}

                    </div>

                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {% if products.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{ products.previous_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in products.paginator.page_range %}
                                {% if products.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ num }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}">{{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if products.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{ products.next_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <li><a href="{% url 'user_panel:shop-list' %}">All</a></li>
                            {% for category in categories %}
                            <li><a
                                    href="{% url 'user_panel:product-list-by-category' category.id %}">{{ category.category_name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Filter By Price -->
                    <div class="sidebar-widget price_range range mb-30">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">Fill by price</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        <div class="price-filter mb-5">
                            <div class="price-filter-wrap text-center mt-15">
                                <div class="price-input d-flex align-items-center">
                                    <input type="number" id="min_price" name="min_price" placeholder="Min price"  class="form-control w-75"
                                        value="{{ min_price|default:'' }}">
                                    <span class="mx-2">-</span>
                                    <input type="number" id="max_price" name="max_price" placeholder="Max price" class="form-control w-75"
                                        value="{{ max_price|default:'' }}">
                                </div><br><br>
                                <button class="btn btn-outline-secondary" id="price-filter-btn">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $("#price-filter-btn").click(function() {
            var minPrice = $("#min_price").val();
            var maxPrice = $("#max_price").val();
            var currentUrl = new URL(window.location.href);
            if (minPrice) {
                currentUrl.searchParams.set('min_price', minPrice);
            } else {
                currentUrl.searchParams.delete('min_price');
            }
            if (maxPrice) {
                currentUrl.searchParams.set('max_price', maxPrice);
            } else {
                currentUrl.searchParams.delete('max_price');
            }
            window.location.href = currentUrl.toString();
        });
    });
</script>

{% endblock content %}